body {
    background: linear-gradient(to right, #A3C3D9, #E9ECF5 );
}

#container {
    background-color: white;
    height: 525px;
    width: 360px;
    margin: 100px auto;
    border-radius: 20px;
    box-shadow: 8px 8px 8px 2px black ;
}

h1 {
    background-color: cornflowerblue;
    text-align: center;
    color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 10px 10px;
    margin: 0;
    font-size: 18pt;
    font-weight: normal;
}

p {
    padding-left: 20px;
}

#billAmt, #serviceQual, #numPeople {
    margin-left: 20px;
    font-size: 14px;
}

#billAmt:focus, #serviceQual:focus, #numPeople:focus, button {
    border: 3px solid cornflowerblue;
    outline: none;
}

button {
    display: block;
    margin: 30px auto;
    text-transform: uppercase;
    font-weight: bold;
    width: 100px;
    height: 35px;
    font-size: 10pt;
    background: cornflowerblue;
    border-radius: 10px;
}

button:hover {
    background: #A3C3D9;
}

#tipAmount {
    text-align: center;
    font-size: 25pt;
    font-weight: bold;
}
